<header class="navbar navbar-fixed-top">
   <div ID="logo"><%= image_tag("mockuplogo1st.png", alt:"logo") %></div>
   <div class="link"> <%= link_to "PLANNING & ADVICE  ", "#" %>    | </div>
   <div class="link"> <%= link_to "  PRODUCTS  ", "#" %> | </div>
   <div class="link"> <%= link_to "  TOOLS  ", "#" %> | </div>
   <div class="link"> <%= link_to "  CONTACT & SERVICES", "#" %></div>
      <form>
         <input type = "text" placeholder = "search" required>
         <input type = "button" value="search">
      </form>
</header>